body{
	margin: 0;
}
#top-menu{
	position: sticky;
	top: 0;
	background-color: #000;
	height: 50px;
	z-index: 100;
}
#top-menu .side{
	height: 100%;
	position: absolute;
}
#top-menu .left{
	/*background-color: rgba(255,0,0,0.5);*/
	left: 0;
}
#top-menu .right{
	/*background-color: rgba(0,255,0,0.5);*/
	right: 0;
}
#top-menu a{
	text-decoration: none;
}
.tm-btn{
	display: inline-block;
	vertical-align: middle;
	color: #aaa;
	height: 20px;
	line-height: 20px;
	padding: 15px;
	font-size: 20px;
	/*background-color: #555;*/
}
.tm-btn-arr{
	height: 100%;
	vertical-align: middle;
	transition-duration: 200ms;
	transform: rotate(-90deg);
}
.tm-btn:hover .tm-btn-arr{
	transform: rotate(90deg);
}
#tm-logo{
	height: 40px;
	padding: 5px;
}
#tm-logo .logo-img{
	height: 100%;
}
.box{
	position: relative;
	width: 100%;
}
#box1 video{
	width: 100%;
}
#box1 .inner{
	width: 500px;
	position: absolute;
	left: 50px;
	bottom: 50px;
}
#box1 .inner-img{
	width: 100%;
}
#box1 .big-text{
	font-size: 60px;
	text-align: center;
	color: #df0;
}
#box1 .inner a{
	text-decoration-line: none;
}
#box1 .inner .btn{
	width: 150px;
	height: 30px;
	padding: 15px;
	margin: auto;
	font-size: 30px;
	line-height: 30px;
	color: #3af;
	text-align: center;
	text-shadow: 0 0 10px #3af;
	box-shadow: 0 0 15px #3af inset;
	background-color: rgba(223, 256, 0, 0.4);
}
@media(max-width: 600px){
	#top-menu .right{
		display: none;
	}
}